<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.jack.album">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".view.AlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AlbumTheme"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" />
    </application>

</manifest>
